@import url(https://fonts.googleapis.com/css?family=Roboto);
/** {*/
    /*border: solid 1px red;*/
/*}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2d3c49;
    margin: 0 15px;
}

/* Content Header */
.header-name {
    font-size: 3rem;
    margin: 0 auto;
}

.header-title {
    margin-top: 0;
    font-size: small;
}

.header-logo {
    width: 20%;
    max-width: 65px;
}

.header-1,
.header-logo {
    text-align: center;
    margin: 0 auto;
}

.header-logo {
    margin-top: 10px;
}

.header-2,
.header-title,
.header-name {
    text-align: center;
}

.header-name {
    margin-top: 10px;
}

img.main {
    margin: 15px auto;
    width: 100%;
    max-width: 100%;
}

/* Featured Section */
#featured h2 {
    color: #7d97ad;
}

#featured img {
    width: 100%;
    height: auto;
    margin-top: 0;
}

#featured h2 {
    margin-bottom: 0;
}

.featured {
    text-align: center;
}

/* Rules for xs screen sizes */
@media (max-width: 767px) {
    /* Remove padding for single column articles */
    article {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Bootstrap sm breakpoint */
@media (min-width: 768px) {

    .header-1 {
        text-align: left;
    }

    .header-logo,
    .header-name {
        margin-top: 15px;
    }

    .header-title,
    .header-name {
        text-align: right;
    }
    /* Remove padding for single column articles */
    article.col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

