@import url(https://fonts.googleapis.com/css?family=Roboto);

/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2d3c49;
}

.header-0 {
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #7d97ad;
    border-bottom-width: 2px;
}

.header-name {
    font-size: 3rem;
    margin: 0 auto;
}

.header-title {
    margin-top: 0;
    font-size: small;
}

.header-logo {
    width: 20%;
    max-width: 65px;
}

img.main {
    margin: 15px auto;
    width: 100%;
    max-width: 100%;
}

.featured {
    text-align: center;
}

#featured h2 {
    color: #7d97ad;
}

.header-1, .header-logo {
    text-align: center;
    margin: 0 auto;
}

.header-logo {
    margin-top: 10px;
}

.header-2, .header-title, .header-name {
    text-align: center;
}

.header-name {
    margin-top: 10px;
}

#featured article {
    margin: 0 auto 10px;
}

/*#featured article:first-child {*/
    /*margin: -10px auto 10px;*/
/*}*/

#featured img {
    width: 100%;
    height: auto;
    margin-top: 0;
}

#featured h2 {
    margin-bottom: 0;
}

/* Bootstrap sm breakpoint */
@media (min-width: 768px) {

    .header-1 {
        text-align: left;
    }

    .header-logo {
        margin-top: 15px;
    }

    .header-title, .header-name {
        text-align: right;
    }

    .header-name {
        margin-top: 15px;
    }
}

/*.header {*/
/*border-bottom-style: solid;*/
/*border-bottom-color: #7d97ad;*/
/*border-bottom-width: 2px;*/
/*}*/

